.DS_Store
node_modules
/dist
/client/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### local props files ###
src/main/resources/application-local.properties
src/main/resources/application-local-flux.properties
src/main/resources/application-local-prod.properties
src/main/resources/application-local-stage.properties
src/main/resources/application-local-uat.properties
src/main/resources/zz_local/**

# WIP and misc files
alba_stage_dump.sh
/processing
# Local Netlify folder
.netlify
