package com.albatross.api.v1.flow.services;

import com.albatross.api.security.SecurityService;
import com.albatross.api.utils.SqlCache;
import com.albatross.api.v1.flow.model.${UPPER_ITEM};
import com.albatross.api.v1.flow.model.User;
import lombok.RequiredArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.HashMap;
import java.util.List;
import java.util.Optional;


/**
* Created by ${USER} on ${DATE}.
* !Describe Purpose!
*/
@Slf4j
@Service
@RequiredArgsConstructor(onConstructor = @__(@Autowired))
public class ${UPPER_ITEM}Service {

private final SqlCache sqlCache;

private final SecurityService securityService;

public List<${UPPER_ITEM}> get${UPPER_ITEM}sForCompany() {
  User user = securityService.getCurrentUser();
  HashMap<String, Object> params = new HashMap<>();
  params.put("companyId", user.getCompanyId());
  List<${UPPER_ITEM}> results = sqlCache.query("${LOWER_ITEM}.getAllForCompany", params, ${UPPER_ITEM}.class);
    return results;
    }


    public ${UPPER_ITEM} get${UPPER_ITEM}(Long id) {
    HashMap<String, Object> params = new HashMap<>();
    params.put("id", id);
    Optional<${UPPER_ITEM}> result = sqlCache.get("${LOWER_ITEM}.getOne", params, ${UPPER_ITEM}.class);
      return result.orElse(null);
      }

      public ${UPPER_ITEM} save${UPPER_ITEM}(${UPPER_ITEM} ${LOWER_ITEM}) {
      User user = securityService.getCurrentUser();
      HashMap<String, Object> params = new HashMap<>();
      params.put("aField", ${LOWER_ITEM}.getId());

      Long id;
      if(null != ${LOWER_ITEM}.getId()) {
      id = ${LOWER_ITEM}.getId();
      params.put("modifiedById", user.getCompanyId());
      params.put("id", id);
      sqlCache.update("${LOWER_ITEM}.update${UPPER_ITEM}", params);
      } else {
      params.put("createdById", user.getCompanyId());
      id = sqlCache.updateReturningId("${LOWER_ITEM}.insert${UPPER_ITEM}", params, "id").longValue();
      }

      return get${UPPER_ITEM}(id);
      }


      }
