/*
 * OVERRIDES FOR VUETIFY THEMES
*/

/**
 * Temporary fix for breaking change in Vuetify v-grid
 * (see : https://github.com/vuetifyjs/vuetify/issues/11408)
 */

.row:not([class*="my-"]):not([class*="ma-"]):not([class*="mt-"]):not([class*="mb-"]) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@font-face {
  font-family: "Congrats";
  src: local("Congrats"),
  url('~@/styles/fonts/Congratulations_DEMO.ttf') format("truetype");
}
/*
 * not sure what to do about this. this makes the date time picker look way nicer and doesn't
 * seem to affect anything else so far.  will have to figure out a solution later if it does
 */
body {
  font-family: Verdana, 'Arial', sans-serif;
  background: #f8f8f8;
}

/* I hate that the main window doesn't use the entire screen.  maybe we will come back and change this later but for now i am just going to set my own margins as needed */
.container {
  max-width: unset !important;
}

.bold {
  font-weight: 700;
}

$default-text: rgba(0,0,0,0.87);
.default-text-color {
  color: $default-text !important;
}

#no-data, #no-results {
  color: $default-text !important;
}

.anchor {
  color: var(--v-anchor-base) !important;
} //this ought to work automatically with vuetify, but it doesn't

.fixed-toolbar {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 0;
  z-index: 1;
}

.fixed-toolbar-bottom {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  bottom: 0;
  z-index: 1;
}


//assign this to the content-class of a tooltip to use it
.full-opacity-tooltip {
  opacity: 1 !important;
  background: #616161 !important;
}

.primary-custom-bg {
  background-color: var(--v-primary-base) ;
  border-color: var(--v-primary-base);
}

/* required to make autocomplete dropdowns not get covered up */
// 201 = dialog modals, we dont want to be on top of those
.toolbar-z-index-override {
  z-index: 200;
}

.app-toolbar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12) !important;
  //-webkit-box-shadow: 0 6px 6px -6px #000 !important;
  //-moz-box-shadow: 0 6px 6px -6px #000 !important;
  //box-shadow: 0 6px 6px -6px #000 !important;
}

#app {
  letter-spacing: .4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0 !important;
  background-color: var(--v-grey-lighten4);
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .app-title {
    font-size: 25px;
    margin-top: 7px;
  }
}

.app-button{
  padding: 0 5px;
  border-radius: 3px;
  text-transform: capitalize;
  height: 45px !important;
}

.no-text-transform {
  text-transform: none;
}

/* universally change the data-table footer height */
.v-data-footer {
  height: 40px;
  align-content: center;
}

.disabled-label {
  color: #9E9E9E !important;
}
/* theme the calendar */
.fc-button-primary {
  color: white;
  background-color: var(--v-primary-base) !important;
  border-color: var(--v-primary-base) !important;
}

.fc-button-primary:hover {
  color: white;
  background-color: var(--v-primary-base) !important;
  border-color: var(--v-primary-base) !important;
}

/* theme the date time picker */
.theme-datetime .vdatetime-popup__header,
.theme-datetime .vdatetime-calendar__month__day--selected > span > span,
.theme-datetime .vdatetime-calendar__month__day--selected:hover > span > span {
  background: var(--v-primary-base);
}

.theme-datetime .vdatetime-year-picker__item--selected,
.theme-datetime .vdatetime-time-picker__item--selected,
.theme-datetime .vdatetime-popup__actions__button {
  color: var(--v-primary-base);
}

.v-list .v-list-item--active{
  color:var(--v-anchor-base);
  background-color: var(--v-primary-lighten9);
}

.v-list-item--dense, .v-list--dense .v-list-item {
  /* vuetify's default code for v-list-dense sets the min-height to 40px, but nothing was setting the height itself so depending on content adding the `dense` flag wasn't doing anything */
  height: 40px;
}
.router-container{
  justify-content: center;
  max-width: 100vw;
  overflow: auto;
  display: flex;
  padding: 0;
  height: calc(100vh - 48px);
  max-height: calc(100vh - 48px);
}
// this is the default css for a page layout. can change locally as needed
.app-container {
  margin-top: -15px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

label[for="adminOriginatorSelect"] {
  color: var(--v-secondary-base) !important;
}
.green-text{
  color: #73d697 !important;
}
.red-text{
  color: #ee6f6a !important;
}
.grab {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
.table-title-row{
  height: 70px;
  line-height: 70px;
  background-color: #ffffff;
  color: rgba(0,0,0,0.87);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: solid 2px var(--v-primary-base);
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
}
.table-header-with-title .v-datatable{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.table-title{
  font-size: 24px;
  vertical-align: middle;
  margin-left: 10px;
}

//globally set all table headers to lighter grey
div.v-data-table__wrapper > table > thead.v-data-table-header > tr > th {
  color: var(--v-grey-base) !important;
}

//globally remove background color for active table headers
.v-data-table--dense.v-data-table--fixed-header.theme--light > div > table > thead > tr > th.active {
  background-color: transparent !important;
}

.primary-row {
  background-color: var(--v-primary-lighten9) !important;
}
.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.flex-align-items-center {
  display: flex;
  align-items: center;
}

.flex-display {
  display: flex !important;
}
.page-header{
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}
.page-subheader{
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}
.underline .v-btn__content{
  text-decoration: underline;
}
.commission-button-container {
  display: flex;
  align-items: center;
}
.underline {
  text-decoration: underline;
}
.no-text-decoration {
  text-decoration: none;
}

.fix-opacity {
  opacity: 1 !important;
}

.fix-column-width-bug table {
  table-layout: fixed;
}

// this is for input fields in column headers
.filter-input .v-input__slot {
  height: 35px !important;
  min-height: 35px !important;
}

.shaded-row{
  background-color: var(--v-primary-lighten9) !important;
}

.table-striped{
  tbody tr:nth-of-type(even) {
    background-color: var(--v-primary-lighten9) !important;
  }
}

.row-hover:hover {
  background-color: var(--v-primary-lighten8) !important;
}

.square-card{
  border-radius: 0 !important;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.status-active {
  color: var(--v-success-base);
  font-weight: normal;
  font-size: 0.75rem;
}

.status-complete {
  color:  var(--v-accent-base);
  font-weight: normal;
  font-size: 0.75rem;
}

.status-cancelled {
  color: var(--v-error-base);
  font-weight: normal;
  font-size: 0.75rem;
}

.hr-non-transparent {
  border-color: #e0e1e2 !important;
}

.text-wrap {
  white-space: normal !important;
}

.app-pre-wrapper {
  white-space: pre-line;
  font-family: 'Lato', sans-serif;
  letter-spacing: .4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
.clickable {
  cursor: pointer !important;
}
.no-display {
  display: none !important;
}
.centered {
  text-align: center;
}
.text-left {
  text-align: left;
}
.error-text {
  color: var(--v-error-base) !important;
}

.one-hunned {
  width: 100%;
}
.height-one-hunned {
  height: 100%;
}
.auto-width {
  width: auto !important;
}

.bordered {
  border: solid 1px var(--v-primary-base);
  border-color: #000 !important;
}
.overflow-auto {
  overflow: auto;
}
.relative {
  position: relative;
}

.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}



.app-toolbar{
  .app-title {
    font-size: 20px;
  }
}

/* this helps when trying to turn an entire row into a right-clickable row */
.router-link-td {
  text-decoration: none !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  align-items: center;
  color: var(--v-shades-black) !important;
}

/* currently toolbar doesn't support multi line titles */
.toolbar-subtitle {
  font-size: 14px;
  font-weight: normal;
}

/* this margin makes the pagination footer not fit on one row on mobile.  should work globally */
.v-application--is-ltr .v-data-footer__pagination {
  margin: 0 0 0 24px !important;
}

@media (min-width: 769px) {
  .v-application--is-ltr .v-data-footer__pagination {
    margin: 0 32px 0 24px !important;
  }

  //i cant figure out why this was down here. hopefully nothing breaks
  //.router-container{
  //  display: flex;
  //}
  .router-view{
    padding: 12px !important;
    /* @joe - do we even need this?  lets just use the full screen till they complain. i hate the white space on the sides */
    /*margin-left: 107px !important;*/
    /*margin-right: 107px !important;*/
  }
  .page-header{
    font-size: 40px;
  }
  .page-subheader{
    padding-left: 40px;
  }
  .app-button{
    padding: 0 16px;
    border-radius: 3px;
    height: 45px !important;
    margin-right: 10px !important;
  }

}


//Global Styles
//there may be a better way to do this, but I wanted to at least get something going here
.albatross-header-1 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.4;
}
.albatross-header-2,
.cfg-name-toolbar .v-toolbar__title.albatross-header-2,
.v-toolbar__title.albatross-header-2 //to override vuetify styling
{
  font-weight: normal;
  font-size: 1.25rem;
}
.albatross-header-3,
.cfg-name-toolbar .v-toolbar__title.albatross-header-3,
.cfg-detail-header .v-toolbar_title.albatross-header-3,
.v-toolbar__title.albatross-header-3
.v-dialog > .v-card > .v-card__title.albatross-header-3
{
  font-weight: bold;
  font-size: 1.125rem;
}

.albatross-header-4-new,
.cfg-name-toolbar .v-toolbar__title.albatross-header-4-new,
.v-toolbar__title.albatross-header-4-new,
.v-dialog > .v-card > .v-card__title.albatross-header-4-new {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5;
}

.albatross-header-4,
.cfg-name-toolbar .v-toolbar__title.albatross-header-4,
.v-toolbar__title.albatross-header-4
{
  font-weight: normal;
  font-size: 1rem;
}

.albatross-header-5,
.albatross-header-5 .v-label,
div.v-dialog__content.v-dialog__content--active > div > div > div.albatross-header-5,
{
  font-weight: bold;
  font-size: 0.875rem;
}

.subtitle-1,
.theme--light.v-card > .v-card__text, .theme--light.v-card > .v-card__subtitle.subtitle-1{
  font-size: 1rem !important;
  line-height: 1.6 !important;
}

.subtitle-2,
div.coversheet-left-pane.theme--light.v-card > .v-card__text, .theme--light.v-card > .v-card__subtitle div.subtitle-2{
  font-weight: bold !important;
  font-size: 0.875rem !important;
  line-height: 1.6 !important;
}

//eventually this should be our default body font size/weight, rendering this class unnecessary
.albatross-body-1,
.albatross-body-1 .v-label,
div.v-card__title.albatross-body-1.lighten-2 {
  font-weight: normal;
  font-size: 1rem;
}
//
.albatross-body-2,
  .albatross-body-2.status-cancelled,
  .albatross-body-2.status-complete,
  .albatross-body-2.status-active,
.albatross-body-2 .v-label,
div.v-input.read-filter.albatross-body-2.theme--light.v-input--selection-controls.v-input--checkbox > div > div.v-input__slot > label,
  //ideally, the status classes would only change the color, but this is for
  // the intermediate time so we don't break things already using status classes
{
  font-weight: normal;
  font-size: 0.875rem;
}

.albatross-body-3,
.albatross-caption {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.6;
}

//coversheet modal needs to scroll independently so need to turn of the default modal scroller
.coversheet-modal-content {
  overflow: hidden !important;
}

.headline-large{
  font-family: lato;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.4;
}

.headline-medium{
  font-family: lato;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.4;
}

.headline-small{
  font-family: lato;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  word-wrap: break-word !important;
  text-overflow: "-" !important;
  overflow-wrap: break-word !important;
}

.title-large{
  font-family: lato;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
}

.title-medium{
  font-family: lato;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

.label-large{
  font-family: lato;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
}

.label-medium{
  font-family: lato;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.6;
}


.label-small, div.v-data-table__wrapper > table > thead.v-data-table-header > tr > th {
  font-family: lato;
  font-weight: 600;
  font-size: .75rem;
  line-height: 1.6;
}

.body-large, .body-large .v-select__selection, .body-large .v-label, .body-large input,
.body-large .v-list-item__content, .v-list-item__title, textarea {
  font-family: lato;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.body-medium, tr, .v-snack__content, .v-btn__content{
  font-family: lato;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.6;
}

.body-small, .body-large .v-messages__message, label.v-label.v-label--active.theme--light {
  font-family: lato;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.6;
}

@media (min-width: 960px) {
  .title-large-medium {
    font-family: lato;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .show-xs {
    display: none;
  }

  button.v-icon.notranslate.show-xs{
    display: none;
  }
}

@media (max-width: 960px) {
  .title-large-medium {
    font-family: lato;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .hide-xs {
    display: none;
  }

  .hide-column-xs {
    display: none;
  }
}


