/*
 * OVERRIDES FOR VUETIFY THEMES
*/

/**
 * Temporary fix for breaking change in Vuetify v-grid
 * (see : https://github.com/vuetifyjs/vuetify/issues/11408)
 */

.row:not([class*="my-"]):not([class*="ma-"]):not([class*="mt-"]):not([class*="mb-"]) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.theme--light,
.theme--light.application,
.theme--light.application .text--primary,
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
.theme--light.v-input:not(.v-input--is-disabled) input,
.theme--light.v-select .v-select__selections {
  color: var(--v-primaryText-base) !important;
  /*color: #1F3C73 !important;*/
}

@font-face {
  font-family: "Congrats";
  src: local("Congrats"),
  url('~@/styles/fonts/Congratulations_DEMO.ttf') format("truetype");
}
/*
 * not sure what to do about this. this makes the date time picker look way nicer and doesn't
 * seem to affect anything else so far.  will have to figure out a solution later if it does
 */
body {
  font-family: Verdana, 'Arial', sans-serif;
  background: #f8f8f8;
}

/* I hate that the main window doesn't use the entire screen.  maybe we will come back and change this later but for now i am just going to set my own margins as needed */
.container {
  max-width: unset !important;
}

.bold {
  font-weight: 600;
}

.fixed-toolbar {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 0;
  z-index: 199;
}

.primary-custom-bg {
  background-color: var(--v-primaryCustom-base) ;
  border-color: var(--v-primaryCustom-base);
}

/* required to make autocomplete dropdowns not get covered up */
.toolbar-z-index-override {
  z-index: 999;
}

.app-toolbar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12) !important;
  //-webkit-box-shadow: 0 6px 6px -6px #000 !important;
  //-moz-box-shadow: 0 6px 6px -6px #000 !important;
  //box-shadow: 0 6px 6px -6px #000 !important;
}

#app {
  font-family: 'Lato', sans-serif;
  letter-spacing: .4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--v-secondary-base);
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.app-button{
  padding: 0 5px;
  border-radius: 3px;
  text-transform: capitalize;
  height: 45px !important;
}

.no-text-transform {
  text-transform: none;
}

/* universally change the data-table footer height */
.v-data-footer {
  height: 40px;
  align-content: center;
}

/* theme the date time picker */
.theme-datetime .vdatetime-popup__header,
.theme-datetime .vdatetime-calendar__month__day--selected > span > span,
.theme-datetime .vdatetime-calendar__month__day--selected:hover > span > span {
  background: var(--v-primary-base);
}

.theme-datetime .vdatetime-year-picker__item--selected,
.theme-datetime .vdatetime-time-picker__item--selected,
.theme-datetime .vdatetime-popup__actions__button {
  color: var(--v-primary-base);
}

.v-list-item--dense, .v-list--dense .v-list-item {
  /* vuetify's default code for v-list-dense sets the min-height to 40px, but nothing was setting the height itself so depending on content adding the `dense` flag wasn't doing anything */
  height: 40px;
}
.router-container{
  justify-content: center;
  max-width: 100vw;
  overflow: auto;
  display: flex;
  padding: 0;
  height: calc(100vh - 48px);
  max-height: calc(100vh - 48px);
}
// this is the default css for a page layout. can change locally as needed
.app-container {
  margin-top: -15px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
}

label[for="adminOriginatorSelect"] {
  color: var(--v-secondary-base) !important;
}
.green-text{
  color: #73d697 !important;
}
.red-text{
  color: #ee6f6a !important;
}
.grab {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
.table-title-row{
  height: 70px;
  line-height: 70px;
  background-color: #ffffff;
  color: rgba(0,0,0,0.87);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: solid 2px var(--v-primary-base);
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  text-align: left;
  vertical-align: middle;
}
.table-header-with-title .v-datatable{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.table-title{
  font-size: 24px;
  vertical-align: middle;
  margin-left: 10px;
}
.vertical-top {
  vertical-align: top;
}
.flex-display {
  display: flex !important;
}
.page-header{
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}
.page-subheader{
  text-align: left;
  font-size: 30px;
  font-weight: 600;
}
.underline .v-btn__content{
  text-decoration: underline;
}
.commission-button-container {
  display: flex;
  align-items: center;
}
.underline {
  text-decoration: underline;
}
.no-text-decoration {
  text-decoration: none;
}

.fix-opacity {
  opacity: 1 !important;
}

.fix-column-width-bug table {
  table-layout: fixed;
}

// this is for input fields in column headers
.filter-input .v-input__slot {
  height: 35px !important;
  min-height: 35px !important;
}

.shaded-row{
  background-color: var(--v-rowShadeCustom-base) !important;
}

.row-hover:hover {
  background-color: var(--v-rowHoverCustom-base) !important;
}

.square-card{
  border-radius: 0 !important;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.status-active {
  color: green;
  font-weight: normal;
  font-size: 12px;
}

.status-complete {
  color: cornflowerblue;
  font-weight: normal;
  font-size: 12px;
}

.status-cancelled {
  color: #8B0000;
  font-weight: normal;
  font-size: 12px;
}

.hr-non-transparent {
  border-color: #e0e1e2 !important;
}
.app-pre-wrapper {
  white-space: pre-line;
  font-family: 'Lato', sans-serif;
  letter-spacing: .4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}
.clickable {
  cursor: pointer !important;
}
.no-display {
  display: none !important;
}
.centered {
  text-align: center;
}
.text-left {
  text-align: left;
}
.error-text {
  color: var(--v-error-base) !important;
}

.one-hunned {
  width: 100%;
}
.height-one-hunned {
  height: 100%;
}
.auto-width {
  width: auto !important;
}

.bordered {
  border: solid 1px var(--v-primary-base);
  border-color: #000 !important;
}
.overflow-auto {
  overflow: auto;
}
.relative {
  position: relative;
}

.br-5 {
  border-radius: 5px;
}

.br-10 {
  border-radius: 10px;
}

.app-toolbar{
  .app-title {
    font-size: 20px;
  }
}

/* this helps when trying to turn an entire row into a right-clickable row */
.router-link-td {
  text-decoration: none !important;
  display: flex;
  width: 100% !important;
  height: 100% !important;
  align-items: center;
  padding: 0 10px;
}

/* currently toolbar doesn't support multi line titles */
.toolbar-subtitle {
  font-size: 14px;
  font-weight: normal;
}

/* this margin makes the pagination footer not fit on one row on mobile.  should work globally */
.v-application--is-ltr .v-data-footer__pagination {
  margin: 0 0 0 24px !important;
}

@media (min-width: 769px) {
  .v-application--is-ltr .v-data-footer__pagination {
    margin: 0 32px 0 24px !important;
  }

  //i cant figure out why this was down here. hopefully nothing breaks
  //.router-container{
  //  display: flex;
  //}
  .router-view{
    padding: 12px !important;
    /* @joe - do we even need this?  lets just use the full screen till they complain. i hate the white space on the sides */
    /*margin-left: 107px !important;*/
    /*margin-right: 107px !important;*/
  }
  .page-header{
    font-size: 40px;
  }
  .page-subheader{
    padding-left: 40px;
  }
  .app-button{
    padding: 0 16px;
    border-radius: 3px;
    height: 45px !important;
    margin-right: 10px !important;
  }

}
